@import 'base/variables';
@import 'base/animations';
*{
    margin: 0;
    font-family: 'Museo Sans Curl', sans-serif;
}
.container{
    position: relative;
    max-width: 950px;
    margin: 0 auto;
    padding: 0px 20px;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/title';
@import 'blocks/benefits';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/buttons';
@import 'blocks/reviews';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';


@media (max-width: 575px){
    .container{
        padding: 0px 10px;
    }
}